<div class="card rounded shadow">
  <form [formGroup]="form">
    <div class="p-3">
      <!-- <p>Form value: {{form.value | json}}</p>
      <p>Form valid: {{form.status | json}}</p> -->
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Nome</label>
          <input type="text" class="form-control"
          [ngClass]="cssValidator(f.nome)"
          formControlName="nome" placeholder="Insira o Nome do Bloco">
          <div *ngIf="f.nome.errors?.required" class="invalid-feedback">
            O nome é obrigatório
          </div>
          <div *ngIf="f.nome.errors?.minlength" class="invalid-feedback">
            O bloco precisa ter mais de 4 caracteres
          </div>
          <div *ngIf="f.nome.errors?.maxlength" class="invalid-feedback">
            O bloco precisa ter menos de 20 caracteres
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input type="text" class="form-control"
          [ngClass]="cssValidator(f.local)"
          formControlName="local" placeholder="">
          <div *ngIf="f.local.errors?.required && f.local.touched" class="invalid-feedback">
            local é obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Status</label>
          <input type="text" class="form-control"
          [ngClass]="cssValidator(f.statusBloco)"
          formControlName="statusBloco" placeholder="">
          <div *ngIf="f.statusBloco.errors?.required && f.statusBloco.touched" class="invalid-feedback">
            status é obrigatório
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Imagem</label>
          <input type="text" class="form-control"
          [ngClass]="cssValidator(f.imageURL)"
          formControlName="imageURL" placeholder="">
          <div *ngIf="f.imageURL.errors?.required && f.imageURL.touched" class="invalid-feedback">
            imagem é obrigatória
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid" (click)="salvarAlteracao()">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Bloco
        </button>
      </div>
    </div>
  </form>
</div>
